PORT=6000

CLIENT_ORIGIN=http://localhost:5173

NODE_ENV=development

DATABASE_URL=mongodb_connection_string

CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret